<section>

    <h1 class="fontAnt"> My Skills</h1>


    <div class="my-ability-introduction-mobile">
        <span class="introduction-mobile">
            Ich habe an verschiedenen Projekten gearbeitet und dabei eine Vielzahl von Frontend-Technologien und -Konzepten eingesetzt. 
        </span>
        </div>    

    <div class="skills-content-mobile">
        <img class="skillsIcon" src="assets/img/angular.png" alt="">
        <img class="skillsIcon" src="assets/img/typesscript.png" alt="">
        <img  class="skillsIcon" src="assets/img/Javascript.png" alt="">
        <img  class="skillsIcon" src="assets/img/html.png" alt="">
        <img class="skillsIcon" src="assets/img/css.png" alt="">
        <img  class="skillsIcon" src="assets/img/api.png" alt="">
        <img class="skillsIcon"  src="assets/img/firebase.png" alt="">
        <img  class="skillsIcon" src="assets/img/git.png" alt="">
        <img  class="skillsIcon" src="assets/img/materialdesign.png" alt="">
        <img  class="skillsIcon" src="assets/img/scrum.png" alt="">


        <div class="learning-icon-content animate-fade-in">
            <div class="continually-icon" (click)="onIconClick()"> 
            <img class="learning-icon-img" src="assets/img/mortarboard.png" alt="">

             <div class="circle_icon-content">
            <img class="circle_icon" src="assets/img/sync.png" alt="">    
                </div>
            </div>
        
                <span class="further-development">Kontinuierlich lernen</span>
          
        </div>   

    </div>
    


        <div [ngClass]="{'hidden': !isClicked}" class="learning-icon-crate">

            <div class="backend-content">
                <span> weiterbilden möchte ich mich in </span> 

                <img class="backend_icon" src="assets/img/Linux.png" alt="">
                <img class="backend_icon" src="assets/img/pyton.png" alt="">
                <img class="backend_icon" src="assets/img/Django.png" alt="">
                <img class="backend_icon" src="assets/img/icons2.png" alt="">
                <img class="backend_icon" src="assets/img/Redis.png" alt="">
                <img class="backend_icon" src="assets/img/PostgreSQL.png" alt="">
                <img class="backend_icon" src="assets/img/Docker.png" alt="">
                <img class="backend_icon" src="assets/img/Group 12.png" alt="">
                <img class="backend_icon" src="assets/img/Heroku.png" alt="">


                

            </div>
          </div>

          <div class="go-to-messenger">
            <button> Let`s talk </button>
        </div>
    

</section>
