
<section>
    <h1 class="fontAnt">Why Me</h1>
</section>

<main>
    <div class="located-city">
        <img src="assets/img/Group 60 (1).png" alt="">
        <div>
        <span class="color">
            <span class="highlight-text">Ich befinde </span>  mich in Traisen im Rhein-Nahe-Gebiet
        </span>
        </div>
    </div>

    <div class="work-remote">
        <img src="assets/img/Icon Remote.png" alt="">
        <div>
        <span class="color">
            <span class="highlight-text">Ich bin </span> offen für Remote-Arbeit
        </span>
        </div>
    </div>

    <div class="open-to-relocate">
        <img src="assets/img/Group 24.png" alt="">
        <div>
        <span class="color">
            <span class="highlight-text">Ich bin </span> offen für einen Umzug
        </span>
        </div>
        </div>
</main>

    <div class="about-me">
        <p>
            Staying motivated to expand my IT skills requires a strategic approach, a curious mindset, and a commitment to the learning.
            My ability to solve complex problems and my passion for programming make me a valuable member for your team.
        </p>
    </div>

