<section>

    <div class="headline">
    <h1  [ngClass]="{'none': isEnglish}"class="fontAnt">Why Me</h1>
    <h1 [ngClass]="{'none': !isEnglish}" class="fontAnt">Warum ich</h1>
    </div>
<main>
<div class="about-me-location-info">
    <div [ngClass]="!isEnglish ? 'located-city-english' : 'located-city'">
        <img src="assets/img/Group 60 (1).png" alt="" >
        <div>
        <span class="color" [ngClass]="{'none': isEnglish}" >
            <span class="highlight-text"> I am in</span>   in the Rhine-Nahe area </span>

            <span class="color" [ngClass]="{'none': !isEnglish}">
            <span class="highlight-text">Ich befinde </span>  mich in Traisen im Rhein-Nahe-Gebiet </span>
        </div>
    </div>

    <div class="work-remote">
        <img src="assets/img/Icon Remote.png" alt="">
        <div>
        <span class="color" [ngClass]="{'none': isEnglish}">
            <span [ngClass]="{'none': isEnglish}"class="highlight-text">I am </span>open to remote work     </span>

            <span class="color" [ngClass]="{'none': !isEnglish}">
            <span  class="highlight-text">Ich bin </span> offen für Remote-Arbeit     </span>
        </div>
    </div>

    <div  [ngClass]="!isEnglish ? 'open-to-relocate-english' : 'open-to-relocate'">
        <img src="assets/img/Group 24.png" alt="">
        <div>
        <span class="color" [ngClass]="{'none': isEnglish}">
            <span  class="highlight-text">I am </span> open to moving   </span>

            <span class="color" [ngClass]="{'none': !isEnglish}">
            <span  class="highlight-text">Ich bin </span> offen für einen Umzug  </span>
        </div>
    </div>
</div>


<div class="about-me">
    <p [ngClass]="{'none': isEnglish}">
        Staying motivated to expand my IT skills requires a strategic approach, a curious mindset, and a commitment to the learning.  
        My ability to solve complex problems and my passion for programming make me a valuable member for your team.   
    </p>

    <p [ngClass]="{'none': !isEnglish}">
        Um motiviert zu bleiben, meine IT-Kenntnisse zu erweitern, sind ein strategischer Ansatz, eine neugierige Denkweise und ein Engagement für das Lernen erforderlich.
        Meine Fähigkeit, komplexe Probleme zu lösen und meine Leidenschaft für das Programmieren machen mich zu einem wertvollen Mitglied Ihres Teams
    </p>
  
    <div class="go-to-messenger">
        <a href="#contact" [ngClass]="{'none': isEnglish}"> Let`s talk </a>
        <a  href="#contact" [ngClass]="{'none': !isEnglish}"> Lass uns reden </a>
    </div>
</div>



    

</main>
</section>