<header id="main-content-header">


    <div class="mobile-header">
        <img class="logo"  src="assets/img/logo.png" alt="">
        <img class="menu-img" src="assets/img/Property 1=default.png" alt="" (click)="openMenuBar()"> 
    </div>

<div class="imgSection">
<div class="profil-img-content"  data-aos="fade-down">
    <img [ngClass]="{'hidden': isMenuOpen}" class="profile-picture-img" src="assets/img/profilbild.png" alt="">
    <app-menu-bar-mobile  *ngIf="isMenuOpen && screenWidth < 720" [isMenuOpen]="isMenuOpen"></app-menu-bar-mobile>
</div>

</div>


<div class="headline">
  
<img class="logo" src="assets/img/{{ logoImg }}" alt="" (mouseenter)="onHover(true)" (mouseleave)="onHover(false)">     
<h1 class="fontAnt"> Philip Tesch </h1>
<h2 [ngClass]="{'none': isEnglish}" class="fontJosefin">FRONTEND DEVELOPER </h2>
<h2 [ngClass]="{'none': !isEnglish}"class="fontJosefin">FRONT-END-ENTWICKLER </h2>
<img class="arrow-down" src="assets/img/{{arrow }}" alt="" (click)="onHoverArrow(true); scrollToWhyMe()">

</div>

<div class="social-media-content">
    <img  src="assets/img/{{ iconEmail  }}" alt="" (mouseenter)="onHoverEmail(true)" (mouseleave)="onHoverEmail(false)">
    <img  src="assets/img/{{ iconGitHub }}" alt="" (mouseenter)="onHoverGitHub(true)" (mouseleave)="onHoverGitHub(false)"> 
    <img  src="assets/img/{{ iconLinkedin }}" alt="" (mouseenter)="onHoverLinkedin(true)" (mouseleave)="onHoverLinkedin(false)">

</div>

</header>
<div class="menubar-desktop">


    <app-menu-bar></app-menu-bar>
</div>






