header {
    width: 100vw;
    padding: 75px 0px 0px 0;
    display: flex;
    align-items: center;
    gap: 121px;
    justify-content: center;
    margin-bottom: 60px;


    @media (max-width: 1650px) {
        padding: 40px 0px 0px 0px;
    }

    @media (max-width: 1500px) {
        gap: 60px;
    }


    @media (max-width: 1450px) {
        gap: 40px;

    }


    @media (max-width: 720px) {
        flex-direction: column;
        gap: 0px;
    }

    @media (max-height: 700px) {
        width: 125%;
        margin-bottom: 0px;
    }


   
    .profil-img-content {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        background-image: url(../../../assets/img/Bg\ shape\ for\ Photo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        border-radius: 19% 62% 100% 90%;
        min-width: 700px;
        height: 800px;
        transition: background-image 0.5s ease-in-out, opacity 0.8s ease-in-out;
        opacity: 1;
        transform: translateZ(0);

        &:hover {
            background-image: url(../../../assets/img/Property\ 1=hover.png);
            border-radius: 69% 80% 100% 90%;
        }



        @media (max-width: 1450px) {
            min-width: 570px;
            height: 680px;

        }

        @media (max-width: 1150px) {
            min-width: 490px;
            height: 610px;
        }


        @media (max-width: 950px) {
            min-width: 465px;
            height: 550px;
        }

        @media (max-width: 850px) {
            min-width: 300px;
            height: 380px;
        }


        @media (max-width: 720px) {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            flex-direction: column;
            min-width: 390px;
            height: 410px;
        }


        @media (max-width: 400px) {
            min-width: 260px;
            height: 360px;
        }

      

        .profile-picture-img {
            width: 560px;
            height: 770px;
            z-index: 1;
            border-radius: 40%;
            position: absolute;
            top: 2px;
            left: 50px;



      

            @media (max-width: 1450px) {
                width: 440px;
                height: 610px;
                border-radius: 35%;
                top: 32px;
                left: 50px;
            }


            @media (max-width: 1150px) {
                width: 400px;
                height: 570px;
                border-radius: 35%;
                top: 8px;
                left: 31px;
            }
            
            
            @media (max-width: 950px) {
                width: 360px;
                height: 530px;
                top: 0px;
                left: 44px;
            }

            @media (max-width: 850px) {
                width: 220px;
                height: 327px;
                top: 23px;
                left: 30px;
            }

            @media (max-width: 720px) {
                width: 279px;
                height: 370px;
                z-index: 1;
                border-radius: 34%;
                margin-right: 30px;
                left: 48px;
                top: 40px;

            }
            @media (max-width: 400px) {
                width: 210px;
                height: 318px;
                margin-right: 0px;
                left: 16px;
                top: 0px;
            

            }



        }

 

    }
}


.logo {
    @media (max-width: 720px) {
       display: none;
    }
}

.arrow-down {
    margin-top: 100px;  
    cursor: pointer;


    @media (max-width: 720px) {
        margin-top: 0px;  
        }

}

.headline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-left: 120px;
        margin-top: 90px;


        @media (max-width: 1450px) {
            margin-left: 0px;
        }


        @media (max-width: 720px) {
            margin-top: 30px;


        }

        
    
        h1 {
            font-size: 88px;
            color: white;
            font-weight: 400;
            margin-block-start: 50px;
            margin-block-end: 0;
            

            @media (max-width: 1600px) {
                font-size: 58px;
            }


            @media (max-width: 1050px) {
                font-size: 42px;
            }
            
            @media (max-width: 720px) {
                font-size: 48px;
                color: white;
                font-weight: 400;
                margin-block-start: 20px;
                margin-block-end: 0;
    
            }

            @media (max-width: 450px) {
                font-size: 38px;
            }

            
        }
    
        h2 {
            font-size: 40px;
            color: white;
            font-weight: 400;
            
            @media (max-width: 1600px) {
                font-size: 26px;
            }


            @media (max-width: 1250px) {
                font-size: 20px;
            }

            @media (max-width: 720px) {
            font-size: 40px;
            color: white;
            font-weight: 400;
            }


            @media (max-width: 600px) {
                font-size: 30px;
            }
    
            @media (max-width: 450px) {
                font-size: 22px;
            }
            
    
    }

}

.mobile-header {
    display: none;

    @media (max-width: 720px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        padding: 80px 0px 31px 0px;
    }

    .logo-Content-mobile {
        display: none;

        @media (max-width: 720px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            gap: 5px;
            font-size: 14px;
        }

        .developer {
            color: #89bcd9 !important;
        }
    }

    .logo {
        display: none;

        @media (max-width: 720px) {
            display: block;
            width: 60px;
            height: 50px;
        }
    }

    .menu-img {
        display: none;

        @media (max-width: 720px) {
            display: block;
            margin-bottom: 30px;
            width: 30px;
            height: 32px;
            cursor: pointer;
        }
    }
}


.social-media-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-self: flex-start;
        margin-bottom: 100px;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;

        @media (max-width: 720px) {
            display: none;
         }


    
}


.menubar-desktop {
    @media (max-width: 720px) {
        display: none;
     }

}


    .logo-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 5px;
    font-size: 18px;


    @media (max-width: 850px) {
        font-size: 14px;
     }


     @media (max-width: 720px) {
        display: none;
     }

    .developer {
        color: #89bcd9 !important;
    }

    }




.hidden {
   visibility: hidden!important;
  }

  .none {
    display: none !important;
  }


  .focus {
    color: white;

}
