<header>

<div class="profil-img-content">
    <img class="profile-picture-img" src="assets/img/bild.png" alt="" (mouseenter)="onHoverBgShape(true)" (mouseleave)="onHoverBgShape(false)" alt="">
    <img class="bg-shape-img" src="assets/img/{{ bgShape }}" (mouseenter)="onHoverBgShape(true)" (mouseleave)="onHoverBgShape(false)" alt=""> 



</div>


<div class="headline">
  
<img class="" src="assets/img/{{ logoImg }}" alt="" (mouseenter)="onHover(true)" (mouseleave)="onHover(false)">     
<h1 class="fontAnt"> Philip Tesch </h1>
<h2 class="fontJosefin">FRONTEND DEVELOPER </h2>

<img class="arrow-down" src="assets/img/Arrow down.png" alt="">

</div>

<div class="social-media-content">
    <img  src="assets/img/{{ iconEmail  }}" alt="" (mouseenter)="onHoverEmail(true)" (mouseleave)="onHoverEmail(false)">
    <img  src="assets/img/{{ iconGitHub }}" alt="" (mouseenter)="onHoverGitHub(true)" (mouseleave)="onHoverGitHub(false)"> 
    <img  src="assets/img/{{ iconLinkedin }}" alt="" (mouseenter)="onHoverLinkedin(true)" (mouseleave)="onHoverLinkedin(false)">

</div>

</header>
<div>


    <app-menu-bar></app-menu-bar>
</div>



