<footer>



<main>
    <div class="name-and-legal-notes">
        <a [ngClass]="{'none': isEnglish}" [routerLink]="'/terms/imprint'" class="legal-Notes"  href="#"> Legal Notes</a>
        <a [ngClass]="{'none': !isEnglish}" [routerLink]="'/terms/imprint'" class="legal-Notes"  href="#">  Rechtliche Hinweise</a>
        <a  href=""> © Philip Tesch </a>
    </div>


    <div class="logo">
        <img src="assets/img/Logo dark mob.png" alt="">
    </div>


    <div class="social-media-icons">

        <img src="assets/img/{{ iconGitHub }}" alt="" (mouseenter)="onHoverGitHub(true)" (mouseleave)="onHoverGitHub(false)">
        <img src="assets/img/{{ iconEmail  }}" alt="" (mouseenter)="onHoverEmail(true)" (mouseleave)="onHoverEmail(false)">
        <img src="assets/img/{{ iconLinkedin }}" alt="" (mouseenter)="onHoverLinkedin(true)" (mouseleave)="onHoverLinkedin(false)">



    </div>
</main>


</footer>
