footer {
    height: 250px;
    background-color: #89bcd9;
    margin-top: 100px;
    width: 100%; 
    box-sizing: border-box;
    position: absolute;


    @media (max-height: 700px) {
        width: 125%; 
    }

 
    
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 720px) {
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }



}

.name-and-legal-notes {
    display: flex;
    padding: 80px;
    flex-direction: column;
    gap: 15px;    


    a {
        color: #262e34;
        font-weight: 400;
        font-size: 18px;    
        text-decoration: none;

    }

    .legal-Notes:hover {
        color: white;
    }



    @media (max-width: 720px) {
        display: none;
    }


}





.logo {


    img {
        width: 60px;
        height: 80px;
    }
}



.social-media-icons {
    padding-right: 90px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    
    
    @media (max-width: 720px) {
        padding-right: 0px;
    }
}

.none {
    display: none !important;
  }