<section>
    <h1 class="fontAnt">Need a teamplayer? Here is what my colleagues said about me</h1>
  
    <div #scrollContainer class="feeback-colleagues">
      <div class="feedback-section">
        <div class="feeback-colleagues-shape">
          <img class="shape-img" src="assets/img/Shape.png" alt="">
  
          <div class="feedback-form-teampartner">
            <div class="headline-name">
              <h4>Erich Gettinger</h4>
              <span class="second-heading">Project <span class="project-Name">Join</span></span>
            </div>
  
            <span class="feeback-Text">
                Während meiner Zusammenarbeit mit Phillip am Join-Projekt habe ich ihn als sehr netten und hilfsbereiten Teamkollegen erlebt und freue mich,
                auch in Zukunft gemeinsam an weiteren Projekten zu arbeiten.
            </span>
          </div>
        </div>
  
        <div class="feeback-colleagues-shape">
          <img class="shape-img" src="assets/img/Shape.png" alt="">
  
          <div class="feedback-form-teampartner">
            <div class="headline-name">
              <h4>Andre </h4>
              <span class="second-heading">Project <span class="project-Name">Join</span></span>
            </div>
  
            <span class="feeback-Text">
                Bei der Zusammenarbeit mit Philip am Join-Projekt
                habe ich ihn als ehrgeizigen, hilfsbereiten und wissbegierigen Teamkollegen erlebt, der stets bereit war, Neues zu lernen.
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  