<section>


    <h1 class="fontAnt"> Need a teamplayer?  </h1>

    <span> Here what my colleagues said about me</span>

        <div #scrollContainer class="feeback-colleagues">



            <div class="feedback-section">
            <div class="feeback-colleagues-shape">

                <img class="shape-img" src="assets/img/Shape.png" alt="">

                <div class="feedback-form-teampartner">
                <h4>  Erich Gettinger  </h4>
                <span>  Project  <span class="project-Name"> Join </span>  </span>


                <span class="feeback-Text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus dolores unde tempore temporibus sunt sed perspiciatis sequi recusandae </span>
                </div>
            </div>




            
            <div class="feeback-colleagues-shape-two">

                <img class="shape-img" src="assets/img/Shape.png" alt="">

                <div class="feedback-form-teampartner-two">
                <h4>  Erich Gettinger  </h4>
                <span>  Project  <span class="project-Name"> Join </span>  </span>


                <span class="feeback-Text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus dolores unde tempore temporibus sunt sed perspiciatis sequi recusandae </span>
                </div>
            </div>

        </div>
            


        </div>

</section>
