<section>


    <h1 class="fontAnt"> Need a teamplayer?  </h1>

    <span> Here what my colleagues said about me</span>

        <div #scrollContainer class="feeback-colleagues">



            <div class="feedback-section">
            <div class="feeback-colleagues-shape">

                <img class="shape-img" src="assets/img/Shape.png" alt="">

                <div class="feedback-form-teampartner">
                <h4>  Erich Gettinger  </h4>
                <span>  Project  <span class="project-Name"> Join </span>  </span>


                <span class="feeback-Text">
                    Phillip war im Join-Projekt ein freundlicher, hilfsbereiter Kollege – ich freue mich auf weitere Projekte.
                  </span>
      
                  <a href="#">Linked In Profile</a>
                </div>
            </div>




            
            <div class="feeback-colleagues-shape-two">

                <img class="shape-img" src="assets/img/Shape.png" alt="">

                <div class="feedback-form-teampartner-two">
                <h4>  Erich Gettinger  </h4>
                <span>  Project  <span class="project-Name"> Join </span>  </span>


                <span class="feeback-Text">
                    Bei der Zusammenarbeit am Join-Projekt erlebte ich Philip als ehrgeizigen, hilfsbereiten und lernbereiten Teamkollegen.
                  </span>
                  
                  <a href="#">Linked In Profile</a>
                </div>
            </div>

        </div>
            


        </div>

</section>
