<section id="contact">


    <div class="headline">
    <h1 class="fontAnt" [ngClass]="{'none': isEnglish}">Contact me</h1>
    <h1 class="fontAnt" [ngClass]="{'none': !isEnglish}">Kontaktieren Sie mich</h1>
    <img class="arrowIcon" src="assets/img/{{ arrow }}" (click)="onHoverArrow(true); scrollToMainContent()">
    </div>

    <div class="my-contact">

        <span [ngClass]="{'none': isEnglish}"> 
        Are you still not sure whether I am the right web developer for your project?
        Don’t hesitate to contact me – I look forward to contributing my work to your projects!
        </span>

        <span [ngClass]="{'none': !isEnglish}"> 
            Sind Sie sich noch nicht sicher, ob ich der richtige Webentwickler für Ihr Projekt bin?
             Zögern Sie nicht, mich zu kontaktieren – ich freue mich darauf, mit meiner Arbeit zu Ihren Projekten beizutragen!
        </span>


        <div class="reach-me">

            <div class="mail-contact">
            <img class="mailIcon" src="assets/img/icon _email_.png" alt="">
            <a href="mailto:philip.tesch.developer@gmail.com">E-Mai: philip.tesch.developer&#64;gmail.com</a>
            </div>    


            <div class="phone-contact">
            <img class="phoneIcon" src="assets/img/icon_phone.png" alt="">
            <a href="tel:+4915150645442">Tel: 015150645442 </a>
            </div>

        </div>
    </div>



    <div class="message">
        <form (ngSubmit)="onSubmit(contactform)" #contactform="ngForm">
        <div class="your-contact-info"> 
            <div class="your-name">
                <label [ngClass]="{'none': isEnglish}">Your Name</label>
                <label [ngClass]="{'none': !isEnglish}">Ihr Name</label>
                <input autocomplete="off" (blur)="checkEnterName()" id="username" #usernameInput [(ngModel)]="contactData.name"  name="username"  class="name-input-Field"
                 type="text"  [placeholder]="!isEnglish ? 'Your Name' : 'Ihr Name'" required  [ngClass]="{ 'invalid-input': nameInvalid }">


                 <span [ngClass]="{'none': isEnglish}" *ngIf="nameInvalid" class="error-text">   *Please enter your first and last name!
                </span>
                 <span  [ngClass]="{'none': !isEnglish}"*ngIf="nameInvalid" class="error-text">  *Bitte geben Sie Ihren Vor- und Nachnamen ein!</span>
            </div>
    
            <div class="your-email">
                <label [ngClass]="{'none': isEnglish}">Your Email</label>
                <label [ngClass]="{'none': !isEnglish}">Ihre E-Mail</label>
                <input autocomplete="off" 
                       (blur)="checkEnterMail()" 
                       id="userEmail"  
                       #useremailInput 
                       [(ngModel)]="contactData.email" 
                       name="userEmail"  
                       class="email-input-Field" 
                       type="email" 
                       [placeholder]="!isEnglish ? 'Your E-Mail' : 'Ihre E-Mail'"
                       [ngClass]="{ 'invalid-input': emailInvalid }" 
                       required>
                <span *ngIf="emailInvalid"  [ngClass]="{'none': isEnglish}"class="error-text">  *Please enter a valid email address!</span>
                <span *ngIf="emailInvalid"  [ngClass]="{'none': !isEnglish}"class="error-text"> *Bitte geben Sie eine gültige E-Mail Adresse ein!</span>
            </div>
        </div>
    
        <div class="your-message-content">
            <label [ngClass]="{'none': isEnglish}">Your Message</label>
            <label [ngClass]="{'none': !isEnglish}">Ihre Nachricht</label>
            <div class="your-message-text">
                <textarea autocomplete="off" (blur)="checkEnterMessage()" [(ngModel)]="contactData.message" name="userMessage" class="message-input-Field"
                [ngClass]="{ 'invalid-input': messageInvalid }"    id="userMessage"  #usermessageInput        [placeholder]="!isEnglish ? 'Your Message' : 'Ihre Nachricht'" required>


                </textarea>
            </div>
            <span [ngClass]="{'none': isEnglish}" *ngIf="messageInvalid" class="error-textMessage"> *Please enter a message!!!</span>
            <span [ngClass]="{'none': !isEnglish}" *ngIf="messageInvalid" class="error-textMessage"> *Bitte eine Nachricht eingeben!!!</span>
        </div>

        <div class="checked"> 

            <img class="checkIcon" src="assets/img/{{ isChecked }}" alt="" (click)="checkPrivacy()">
            <span [ngClass]="{'none': isEnglish}"> I've read the 
                <a [ngClass]="{'none': isEnglish}" [routerLink]="'/terms/privacy-policy'">Privacy Policy</a>
                and agree to the processing of my data as outlined.
            </span>


            <span [ngClass]="{'none': !isEnglish}"> Das habe ich gelesen
                <a [ngClass]="{'none': !isEnglish}" [routerLink]="'/terms/privacy-policy'">Datenschutzrichtlinie</a>
                und stimme der oben beschriebenen Verarbeitung meiner Daten zu.
            </span>


        </div>
        <span [ngClass]="{'none': isEnglish}" *ngIf="privacyTouched && !checked" class="error-text"> *Please read and accept the privacy policy!!!</span>


        <span [ngClass]="{'none': !isEnglish}" *ngIf="privacyTouched && !checked" class="error-text"> *Bitte lesen und akzeptieren Sie die Datenschutzbestimmungen!!!</span>

        <div class="button-content">
            <input
              class="sendBtn"
              type="submit"
              [value]="!isEnglish ? 'send' : 'Senden'"
              [ngClass]="{'disabled': !(checked && isFormValid && !checkInputFieldMessage() && !checkInputFieldEmail() && !checkInputFieldName())}"
              (click)="sendMessage($event)">
          </div>
    </form>

    <div *ngIf="successMessage" class="success-message">
        <span    [ngClass]="{'none': isEnglish}" class="successMessageText"> Message was sent successfully!</span>
        <span   [ngClass]="{'none': !isEnglish}" class="successMessageText">Nachricht wurde erfolgreich gesendet!</span>
    </div>


    </div>

    <img class="arrowIconMobile" src="assets/img/{{ arrow }}" (click)="onHoverArrow(true); scrollToMainContent()">

</section>
