$fontJosefin: 'Josefin Sans';
$fontAnt: 'Anta';



section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 100px;
    overflow-x: hidden;
    

  }





.headline {  
    display: flex;
    justify-content: center;
    align-items: center;
  
 h1 {
    color: #89BCD9;
    font-weight: 400;
    font-size: 54px;
    margin-block-end: 50px;
    margin-block-start: 50px;
    opacity: 0;
    animation: fadeFormAbove 900ms ease-out forwards;
    animation-delay: 900ms; 
  

    @media (max-width:720px) {
        font-size: 32px;
     }
}  

img {
    position: relative;
    left: 500px;
    height: 90px;
    width: 40px;


    @media (max-width:1400px) {
        left: 200px;
    }


    @media (max-width:1150px) {
       display: none;
    }
}


}

.my-contact {
    display: flex;
    justify-content: center;
    gap: 45px;
    opacity: 0;
    animation: fadeFormAbove 1000ms ease-out forwards;
    animation-delay: 1000ms; 


    @media (max-width:1150px) {
        flex-direction: column-reverse;
     }


    span {
        max-width: 400px;
        color: #F8F5EC;        
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: left;
        flex-wrap: wrap;

        
        @media (max-width:450px) {
            font-size: 14px;
            max-width: 260px;

         }
    }
}

.arrowIcon {
    cursor: pointer;
}


.reach-me {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width:400px) {
        gap: 5px;
        margin-right: 20px;

     }




    .mail-contact,.phone-contact {
    display: flex;
    gap: 20px;
    align-items: center;

    
    @media (max-width:400px) {
        gap: 5px;
     }

    
    .mailIcon, .phoneIcon {
        height: 24px;
        width: 24px;
    }

    a {
        color: #F8F5EC;        
        font-weight: 400;
        font-size:20px;
        text-decoration: none;


        @media (max-width:450px) {
            font-size:16px;
         }

         @media (max-width:400px) {
            font-size:14px;
         }
    
    }

}

}


.message {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 20px;


    @media (max-width:450px) {
        margin-right: 20px;
     }


    .your-contact-info {
       display: flex;
       gap: 50px;
       opacity: 0;
       animation: fadeFormAbove 1100ms ease-out forwards;
       animation-delay: 1100ms; 


       @media (max-width:1150px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

     }

    }
    
}


.your-name, .your-email {
    display: flex;
    flex-direction: column;


    label {
        margin-left: 40px;
        margin-bottom: 2px;
        color: #89BCD9;        
        font-weight: 400;
        font-size:14px;


        @media (max-width:1150px) {
          display: none;
    
         }
        }
}



.name-input-Field {
    border: 1px solid #89BCD9;
    border-radius: 30px;
    width: 440px;
    height: 60px;
    background-color: #262E34 !important;
    text-align: left; 
    padding-left: 20px; 
    padding-right: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    box-sizing: border-box; 
    color: #F8F5EC !important;
    font-family: $fontJosefin;


    
    @media (max-width:720px) {
        width: 340px;
     }

     
     @media (max-width:450px) {
        width: 280px;
     }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-text-fill-color:#262E34 !important;
        background-color: #262E34 !important;
    }

}


.invalid-input {
    border-color: red !important; 
  }



.invalid-input-mail {
    border-color: red; 
  }


.error-text {
    color: red; 
    font-size: 14px;
    margin-top: 5px;
    margin-left: 32px;
  }

  .email-input-Field {
    border: 1px solid #89BCD9;
    border-radius: 30px;
    width: 440px;
    height: 60px;
    background-color: #262E34 !important;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: #F8F5EC !important;
    font-family: $fontJosefin;
    appearance: none; 
    -webkit-appearance: none; 
    background-image: none !important; 


    @media (max-width:720px) {
        width: 340px;
     }

     @media (max-width:450px) {
        width: 280px;
     }
}

input.email-input-Field:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #262E34 inset !important;
    -webkit-text-fill-color: #F8F5EC !important;
    border: 1px solid #89BCD9 !important; 
}




.your-message-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    opacity: 0;
    animation: fadeFormAbove 1400ms ease-out forwards;
    animation-delay: 900ms; 

    @media (max-width:1150px) {
        align-items: center;

     }

    label {
        margin-left: 40px;
        margin-bottom: 2px;
        color: #89BCD9;        
        font-weight: 400;
        font-size:14px;


        @media (max-width:1150px) {
            display: none;
      
           }

        }
}

.message-input-Field {
    border: 1px solid #89BCD9;
    border-radius: 30px;
    width: 930px;
    height: 145px;
    background-color: #262E34 !important;
    padding: 20px; 
    font-size: 16px;
    color: #F8F5EC !important;
    box-sizing: border-box;
    resize: none; 
    overflow-wrap: break-word;
    font-family: $fontJosefin;


    
    @media (max-width:1150px) {
        width: 440px;

     }


     @media (max-width:720px) {
        width: 340px;
     }

     @media (max-width:450px) {
        width: 280px;
     }

    &:focus {
        background-color: #262E34 !important;
        border-color: #89BCD9 !important; 
        outline: none; 
    }
}


.checked {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 30px;
    opacity: 0;
    animation: fadeFormRightSide 1200ms ease-out forwards;
    animation-delay: 900ms; 

    @media (max-width:1150px) {
        max-width: 400px;
        gap: 15px;

     }


    span {
        color: #F8F5EC;        
        font-weight: 400;
        font-size:14px;

        a {
            color: #89BCD9;        
            font-weight: 400;
            font-size:14px;
            text-decoration: none;
        }
    }
}


.button-content {
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    animation: fadeFormRightSide 1200ms ease-out forwards;
    animation-delay: 900ms; 

    @media (max-width:1150px) {
        margin-top: 15px;

     }

    button {
        height: 50px;
        width: 105px;
        border: 1px solid #F8F5EC;
        border-radius: 30px;
        color: #89BCD9;
        font-family: $fontJosefin;
    }




}

.checkIcon {
    cursor: pointer;
}

.arrowIconMobile {
    display: none;

    @media (max-width:1150px) {
       display: block;
       height: 80px;
       width: 50px;
       padding-top: 130px;

     }

}

.none {
    display: none !important;
  }



  @keyframes fadeFormAbove {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  
  }


  @keyframes fadeFormRightSide {
    from {
        opacity: 0;
        transform: translate(250px, -250px);   }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
  
  }