html {
    scroll-behavior: smooth;
  }


div {
    position: relative;
    top: 0;
    left: 0px;
    right: 0;
    justify-content: center;
    display: flex;
    transition: transform 0.4sease-in-out, opacity 0.4sease-in-out;


    >img {
        width: 360px;
        height: 390px;

        @media (max-width: 400px) {
            width: 255px;
            
    
        }
    }





}


.menu-bar-mobile-links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin: 60px;

    a {
        text-decoration: none;
        color: black;
        font-weight: 400;
        font-size: 22px;
        

        &:hover {
            color: white;
        }
    }
    
    >div {
    position: relative;
    display: flex;
    gap: 25px;

    >p {
        font-weight: 400;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: white;
            background-color:#262E341F;
            border-radius: 20px;
    
        }
    }
    }
}



.translator {
    position: relative;
    display: flex;
    gap: 25px;    
    cursor: pointer;
>p {
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: white;
        background-color:#262E341F;
        border-radius: 20px;

    }

}
}


.focus {
     color: white;

}


.hidden {
    display: none;
  }


  .none {
    display: none;
  }