html {
    scroll-behavior: smooth;
  }


div {
    position: relative;
    top: 0;
    left: 0px;
    right: 0;
    justify-content: center;
    display: flex;
    z-index: 0;  
    transform: scale(0.95); 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, z-index 0s 0.5s;


    >img {
        width: 360px;
        height: 280px;


        @media (max-width: 400px) {
            width: 255px;
            
    
        }
    }


}

.show {
    opacity: 1 !important;
    z-index: 10;
    transform: scale(1);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, z-index 0s; 
}


.menu-bar-mobile-links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin: 0px;

    @media (max-width: 400px) {
        gap: 15px;
        margin: 50px;
        

    }


    a {
        text-decoration: none ; 
        color: black ;
        font-weight: 400 ;
        font-size: 22px ;
        

        &:hover {
            color: white;
        }
    }
    
    >div {
    position: relative;
    display: flex;
    gap: 25px;

    >p {
        font-weight: 400;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: white;
            background-color:#262E341F;
            border-radius: 20px;
    
        }
    }
    }
}



.translator {
    position: relative;
    display: flex;
    gap: 25px;    
    cursor: pointer;
>p {
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: white;
        background-color:#262E341F;
        border-radius: 20px;

    }

}
}


.focus {
     color: white !important;

}


.hidden {
    display: none;
  }


  .none {
    display: none;
  }