<section  id="imprint">

<div  [ngClass]="{'none': !isEnglish}">
<h1>Impressum</h1>

<p>Philip Tesch<br />
Im M&uuml;hlental 2a<br />
55595 Traisen</p>

<h2>Kontakt</h2>
<p>Telefon: 06719207994<br />
E-Mail: philip.tesch.developer&#64;gmail.com</p>

<p>Quelle: <a  target="_blank" href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>
</div>



<div  [ngClass]="{'none': isEnglish}">
<h1>Imprint</h1>

<p>Philip Tesch<br />
Im Mühlental 2a<br />
55595 Traisen</p>

<h2>Contact</h2>
<p>Phone: 06719207994<br />
Email: philip.tesch.developer&#64;gmail.com</p>

<p>Source: <a target="_blank"  href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>
</div>

</section>

