<section id="project">

    <h1 class="fontAnt" [ngClass]="{'none': isEnglish}"> My Projects </h1>
    <h1 class="fontAnt" [ngClass]="{'none': !isEnglish}"> Meine Projekte </h1>

    <div class="my-Projects">
        
        <div class="project-bar">
        <div class="project indent-project-titles">
        <button class="btn_Join" (click)="openProjectJoin()" [ngClass]="{'showProject': joinIsOpen}">
                 <h2 [ngClass]="{'none': isEnglish}"> Join Project </h2>
                 <h2 [ngClass]="{'none': !isEnglish}"> Join Projekt </h2>
        </button>    


        <button class="btn_EllPoloLoco" (click)="openProjectElPoloLoco()" [ngClass]="{'showProject': elPoloIsOpen}"> <h2> El Polo Loco </h2> </button>    
        </div>
            <app-join-project-desktop [ngClass]="{'displayOpen': joinIsOpen}" [projects]="projects" [projectsEnglish]="projectsEnglish"></app-join-project-desktop>
            <app-el-polo-loco-desktop [ngClass]="{'displayOpen': elPoloIsOpen}" [projects]="projects" [projectsEnglish]="projectsEnglish"></app-el-polo-loco-desktop>

    
        </div>
    </div>



</section>

