section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 50px;
  }
  
  section h1 {
    color: #89BCD9;
    font-weight: 400;
    font-size: 60px;
    margin-block-end: 35px;
    margin-block-start: 50px;
  }


  .my-Projects {
    width: 100%;
    display: flex;
    position: relative;
  }

  app-join-project-desktop {
    display: none;
  }


  app-el-polo-loco-desktop {
    display: none;
  }
  
  .closeEllPoloLoco {
    display: none;
  }
  .project {
    display: flex;
    justify-content: center;
    padding: 0px 5px 0px 15px;
    
  }


.indent-project-titles {
  margin-left: 150px;

}


.showProject {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  width: 240px;
  height: 99px;
  background-color: #2d383F;
}

  h2 {
    color: #89BCD9;
    font-weight: 400;
    font-size:36px;
  }


  .displayOpen {
    display: block !important;
  }
