* {
  box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 50px;
    width: 100%;
  


    @media (max-width:720px) {
      margin-top: 0px;
  }

  }
  
  section h1 {
    color: #89BCD9;
    font-weight: 400;
    font-size: 60px;
    margin-block-end: 35px;
    margin-block-start: 50px;


    @media (max-width:720px) {
      font-size: 32px;
  }


  @media (max-height: 900px) {
    margin-block-start: 0px;
    margin-block-end: 40px;
  }
  
  }


  .my-Projects {
    display: flex;
    justify-content: center;
    width: 100%;
    

    @media (max-width:1100px) {
      justify-content: flex-start;
  }


  @media (max-width:720px) {
    justify-content: center;
}

  }

  app-join-project-desktop {
    display: none;
  }


  app-el-polo-loco-desktop {
    display: none;
  }
  
  .closeEllPoloLoco {
    display: none;
  }
  .project {
    display: flex;

  }


.indent-project-titles {
  margin-left: 0px;
  justify-content: flex-start;
  width: 70%;
  max-width: 1440px;
  @media (max-width:1100px) {
    margin-left: 150px;
}

@media (max-width:720px) {
  margin-left: 0px;
  margin-right: 0px;
}



}

.project-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

      @media (max-width:1100px) {
        margin-right: 0px;
    }

}

.showProject {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: #2d383F;
  cursor: pointer !important;

  
  @media (max-width:950px) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
}

  h2 {
    color: #89BCD9;
    font-weight: 400;
    font-size:36px;
    cursor: pointer;


    @media (max-width:950px) {
      font-size:28px;
  }

  @media (max-width:850px) {
    font-size:22px;
}

@media (max-width:800px) {
  font-size:20px;
}

    @media (max-width:720px) {
      font-size:16px;
  }
  }


  .displayOpen {
        display: flex !important;
        width: 100%;
        justify-content: center;
        background-color: #2d383F;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
  }


  .none {
    display: none !important;
  }


  button {
    background: none;
    background-color: transparent;
    border: none; 
    box-shadow: none;
    font-weight: 400;
    font-size: 36px;
    cursor: pointer;
    padding: 0px 5px 0px 15px;
  }


  
  
