section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    padding: 220px 0px 0px 40px;
    color: white;
    line-height: 1.6;  
    text-align: justify; 
    min-height: 82vh;


    @media (max-width: 1600px) {
        font-size: 18px; 
        width: 80%;

        }

   
    @media (max-width: 1200px) {
        font-size: 16px; 

    }

    @media (max-width: 870px) {
        font-size: 14px; 
        line-height: 1.4; 
        padding: 300px 0px 0px 10px;
        min-height: 100vh;
    }

    

}

.none {
    display: none !important;
  }


  a {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
