<app-header-mobile class="hide-desktop"></app-header-mobile>
<app-header class="hide-mobile"></app-header>

<app-why-me id="why-me" class="hide-mobile desktop-width-view"></app-why-me>
<app-why-me-mobile class="hide-desktop"></app-why-me-mobile>

<app-my-skills class="hide-mobile desktop-width-view"></app-my-skills>
<app-my-skills-mobile class="hide-desktop"></app-my-skills-mobile>

<app-my-projects class="hide-mobile desktop-width-view"></app-my-projects >
<app-my-projects-mobile class="hide-desktop"></app-my-projects-mobile>


<app-feedback-team-partner class="hide-mobile desktop-width-view" ></app-feedback-team-partner>
<app-feedback-team-partner-mobile class="hide-desktop"></app-feedback-team-partner-mobile>


<app-contact-me id="contact-me" class="hide-mobile desktop-width-view"> </app-contact-me>