<section>

    <h1 class="fontAnt"> My Skills</h1>

    <div class="my-skills-content">
    <div class="skills">
        <img  class="skillsIcon" src="assets/img/angular_large.png" alt="">
        <img  class="skillsIcon" src="assets/img/Property 1=TypeScript.png" alt="">
        <img  class="skillsIcon"src="assets/img/Property 1=JavaScript.png" alt="">
        <img  class="skillsIcon" src="assets/img/Property 1=HTML.png" alt="">
        <img  class="skillsIcon" src="assets/img/Property 1=CSS.png" alt="">
        <img  class="skillsIcon" src="assets/img/Property 1=Rest-Api.png" alt="">
        <img  class="skillsIcon" src="assets/img/firebase_large.png" alt="">
        <img  class="skillsIcon" src="assets/img/git_large.png" alt="">
        <img  class="skillsIcon" src="assets/img/Property 1=Material Design.png" alt="">
        <img  class="skillsIcon" src="assets/img/Property 1=Scrum.png" alt="">


          <div [ngClass]="{'hidden': !isClicked}" class="learning-icon-crate">

            <div class="backend-content">
                <span> weiterbilden möchte ich mich in </span> 

                <img class="backend_icon" src="assets/img/Linux.png" alt="">
                <img class="backend_icon" src="assets/img/pyton.png" alt="">
                <img class="backend_icon" src="assets/img/Django.png" alt="">
                <img class="backend_icon" src="assets/img/icons2.png" alt="">
                <img class="backend_icon" src="assets/img/Redis.png" alt="">
                <img class="backend_icon" src="assets/img/PostgreSQL.png" alt="">
                <img class="backend_icon" src="assets/img/Docker.png" alt="">
                <img class="backend_icon" src="assets/img/Group 12.png" alt="">
                <img class="backend_icon" src="assets/img/Heroku.png" alt="">

            </div>
          </div>
       
        
        
        <div class="learning-icon-content animate-fade-in">
            <div class="continually-icon" (click)="onIconClick()"> 
            <img class="learning-icon-img" src="assets/img/mortarboard.png" alt="">

             <div class="circle_icon-content">
            <img class="circle_icon" src="assets/img/sync.png" alt="">    
                </div>
            </div>
            <span>Kontinuierlich lernen</span>
        </div>    
     

    </div>    

    <div class="learning">

        <div class="bg_Ellipse_content">

            <img class="bg_Ellipse-img" src="assets/img/Ellipse BG.png" alt="">

            <div class="continually-learning-content">   

                <div class="my-ability-introduction">
                <span>
                    Ich habe an verschiedenen Projekten gearbeitet und dabei eine Vielzahl von Frontend-Technologien und -Konzepten eingesetzt. Dabei bin ich stets offen, neue Technologien und Methoden zu erlernen, um meine Fähigkeiten kontinuierlich zu verbessern
                     und in der sich ständig verändernden Welt der Webentwicklung immer einen Schritt voraus zu bleiben.
                </span>
                </div>        

              

        </div>

    </div>

    </div>
</div>

</section>
