section {
    width: 100vh;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    flex-direction:column ;


    h1 {
        color: #89BCD9;
        font-weight: 400;
        font-size: 60px;;
        margin-block-end: 80px;
        margin-block-start: 50px;
        }


    img {
        height: 100px;
        width: 70px;


        @media (max-width: 990px) {
          height: 70px;
          width: 50px;
      }
    }

}


.icon-learn {
    animation: rotateImage 5s linear infinite, fadeOut 5s infinite alternate;   

    @keyframes rotateImage {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
      @keyframes fadeOut {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }
}


.my-skills-content {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (max-width: 990px) {
      width: auto;
  }

  @media (max-width: 850px) {
    margin-right: 50px;
}







    .skills {
        display: flex;
        max-width: 400px;
        gap: 40px;
        flex: 1;
        flex-wrap: wrap;

        @media (max-width: 850px) {
          gap: 32px;
      }


      @media (max-width: 800px) {
        gap: 25px;
        max-width: 340px;
    
    }
    
    }
 
}

.skillsIcon {
  opacity: 0;
  animation: fadeInSlide 0.8s ease-in-out forwards;
}

.skillsIcon:nth-child(1) { animation-delay: 0.2s; }
.skillsIcon:nth-child(2) { animation-delay: 0.4s; }
.skillsIcon:nth-child(3){ animation-delay: 0.6s; }
.skillsIcon:nth-child(4) { animation-delay: 0.8s; }
.skillsIcon:nth-child(5) { animation-delay: 1s; }
.skillsIcon:nth-child(6) { animation-delay: 1.2s; }
.skillsIcon:nth-child(7) { animation-delay: 1.4s; }
.skillsIcon:nth-child(8) { animation-delay: 1.6s; }
.skillsIcon:nth-child(9) { animation-delay: 1.8s; }
.skillsIcon:nth-child(10) { animation-delay: 2s; }

@keyframes fadeInSlide {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


.learning {
    width: 40%;  
    display: flex;
    justify-content: center;  
    align-items: center;  
    gap: 20px; 
    margin-left: 90px;


    @media (max-width: 990px) {
      margin-left: 60px;
  }


  @media (max-width: 900px) {
    margin-left: 30px;
}

    .bg_Ellipse_content {
      position: relative;
      display: flex;
      justify-content: center;  
      align-items: center;
      opacity: 0;
      animation: fadeInAboutMe 900ms ease-out forwards;
      animation-delay: 900ms; 


      @keyframes fadeInAboutMe {
          from {
              opacity: 0;
              transform: translate(100px, -100px);
          }
          to {
              opacity: 1;
              transform: translate(0, 0);
          }
      
      }
    
    


      .bg_Ellipse-img {
        height: 430px;
        width: 430px;
        transform: rotate(180deg);



        @media (max-width: 990px) {
          height: 370px;
          width: 370px;
      }



      
      @media (max-width: 900px) {
        height: 350px;
        width: 350px;
}
      }


    }



  }



  .continually-learning-content {
    position: absolute;
    top: 0px;
    left: 60px;
    right: 0;
    bottom: 0px;
    width: 96%;
    height: 359px;
    border-radius: 60%;


    @media (max-width: 990px) {
      left: 30px;
  }


    .my-ability-introduction {
      display: flex;
      max-width: 300px;
      text-align: center;
      animation: fadeInAboutMe 900ms ease-out forwards;
      animation-delay: 900ms; 


      @keyframes fadeInAboutMe {
          from {
              opacity: 0;
              transform: translate(100px, -100px);
          }
          to {
              opacity: 1;
              transform: translate(0, 0);
          }
      
      }
      
    }

    span {
      font-weight: 400;
    font-size: 18px;
    color: #F8F5EC;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;


    @media (max-width: 990px) {
      font-size: 16px;
  }



      
    }

  }


  .learning-icon-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 


    @media (max-width: 1650px) {
      margin-left: 10px;
      transform: translateY(-5px);
  }



    @media (max-width: 990px) {
      margin-left: 12px;
      transform: translateY(-15px);
  }


  @media (max-width: 850px) {
    margin-left: -30px;
    transform: translateY(-40px);
}


@media (max-width: 800px) {
  margin-left: -20px;
  transform: translateY(-15px);
}

  

    .continually-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          left: 0;
          right: 0;
          top: -10px;
          bottom: 0;



          @media (max-width: 990px) {
            top:0;
        }
    }
     
        
          
  
    .learning-icon-img {
      height: 100px;
      width: 80px;


      @media (max-width: 990px) {
        height: 80px;
        width: 60px;
        top:0;
    }
    }


          .circle_icon-content {
            position: absolute;
          }

          .circle_icon {
            height: 100px;
            width: 100px;
            animation: rotateArrows 2.5s linear infinite;  

            @media (max-width: 990px) {
              height: 70px;
              width: 70px;
          }
          }

          span {
            font-size: 12px;
            text-align: center;
            display: flex;
            margin-top: 18px;
            color: white;
          }

    }



    .animate-fade-in {
      animation: fadeInSlide 2.5s ease-in-out forwards;
      animation-duration: 2.5s;
    }
    
    
    @keyframes fadeInSlide {
      from {
          opacity: 0;
          transform: translateY(-160px);
      }
      to {
          opacity: 1;
          transform: translateY(0);
      }
    
    }




.backend_icon {
  height: 25px !important;
  width: 25px !important;
}



.learning-icon-crate {
display: flex;
position: relative;





  span {
  font-weight: 400;
  font-size: 18px;
  color: #F8F5EC; 
  text-align: center;
}


.backend-content {
  position: absolute;
  top: -178px;
  left: 16%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 220px;
  justify-content: center;
  padding: 20px;
  background-color: rgba(38, 46, 52, 0.8);
  border-radius: 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: solid 6px blue;
  margin-right: 19px;
  transform: translateX(-29px);



  @media (max-width: 1650px) {
    transform: translateX(-60px);

}



  @media (max-width: 990px) {
    transform: translateX(-69px);
}


@media (max-width: 850px) {
  transform: translateX(-13px);
  top: -200px;
}


@media (max-width: 800px) {
  transform: translateX(-100px);
  top: -175px;
}

}

.backend-content::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 85px;
  transform: translateX(0);
  width: 0;
  height: 0;
  border-left: 15px outset transparent;
  border-right: 16px outset transparent;
  border-top: 14px outset blue;


  @media (max-width: 850px) {
    left: 30px;
  }


  @media (max-width: 800px) {
    transform: translateX(-50%); 
    left: 50%;
  }
}





}
@keyframes rotateArrows {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.backend-content {
  position: absolute;
  top: -178px;
  left: 16%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 220px;
  justify-content: center;
  padding: 20px;
  background-color: rgba(38, 46, 52, 0.8);
  border-radius: 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: solid 6px blue;
  margin-right: 19px;
  transform: translateX(-29px);


}

.backend-content::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 130px;
  transform: translateX(0);
  width: 0;
  height: 0;
  border-left: 15px outset transparent;
  border-right: 16px outset transparent;
  border-top: 14px outset blue;

}



.hidden {
  visibility: hidden;
}