<section id="skills">
    <div class="headline">
    <h1 class="fontAnt" [ngClass]="{'none': isEnglish}"> My Skills</h1>
    <h1 class="fontAnt" [ngClass]="{'none': !isEnglish}"> Meine Fähigkeiten</h1>
    </div>

    <div class="my-ability-introduction-mobile">
  
        <span class="introduction-mobile" [ngClass]="{'none': isEnglish}">
            I have worked on various projects using a variety of frontend technologies and concepts. I am always open to learning new technologies and methods in order to continually improve my skills
            and staying one step ahead in the ever-changing world of web development.</span>


            <span class="introduction-mobile" [ngClass]="{'none': !isEnglish}">
                Ich habe an verschiedenen Projekten gearbeitet und dabei eine Vielzahl von Frontend-Technologien und -Konzepten eingesetzt. Dabei bin ich stets offen, neue Technologien und Methoden zu erlernen, um meine Fähigkeiten kontinuierlich zu verbessern
                und in der sich ständig verändernden Welt der Webentwicklung immer einen Schritt voraus zu bleiben. 
            </span>
        </div>    



    <div class="my-skills-content">
    <div class="skills">
        <img  class="skillsIcon" src="assets/img/angular_large.png" alt="">
        <img  class="skillsIcon" src="assets/img/Property 1=TypeScript.png" alt="">
        <img  class="skillsIcon"src="assets/img/Property 1=JavaScript.png" alt="">
        <img  class="skillsIcon" src="assets/img/Property 1=HTML.png" alt="">
        <img  class="skillsIcon" src="assets/img/Property 1=CSS.png" alt="">
        <img  class="skillsIcon" src="assets/img/Property 1=Rest-Api.png" alt="">
        <img  class="skillsIcon" src="assets/img/firebase_large.png" alt="">
        <img  class="skillsIcon" src="assets/img/git_large.png" alt="">
        <img  class="skillsIcon" src="assets/img/Property 1=Material Design.png" alt="">
        <img  class="skillsIcon" src="assets/img/Property 1=Scrum.png" alt="">


          <div [ngClass]="{'hidden': !isClicked}"  class="learning-icon-crate">

            <div class="backend-content">
                <span [ngClass]="{'none': isEnglish}"> I would like to continue my education </span>
                <span [ngClass]="{'none': !isEnglish}"> weiterbilden möchte ich mich in </span> 

                <img class="backend_icon" src="assets/img/Linux.png" alt="">
                <img class="backend_icon" src="assets/img/pyton.png" alt="">
                <img class="backend_icon" src="assets/img/Django.png" alt="">
                <img class="backend_icon" src="assets/img/icons2.png" alt="">
                <img class="backend_icon" src="assets/img/Redis.png" alt="">
                <img class="backend_icon" src="assets/img/PostgreSQL.png" alt="">
                <img class="backend_icon" src="assets/img/Docker.png" alt="">
                <img class="backend_icon" src="assets/img/Group 12.png" alt="">
                <img class="backend_icon" src="assets/img/Heroku.png" alt="">

            </div>
          </div>
       
        
        
        <div class="learning-icon-content animate-fade-in">
            <div class="continually-icon" (mouseenter)="onIconHover(true)" (mouseleave)="onIconHoverMouseEnter(false)"> 
            <img class="learning-icon-img" src="assets/img/mortarboard.png" alt="">

             <div class="circle_icon-content">
            <img class="circle_icon" src="assets/img/sync.png" alt="">    
                </div>
            </div>
            <span [ngClass]="{'none': isEnglish}">Learn continuously</span>
            <span [ngClass]="{'none': !isEnglish}"> Kontinuierlich lernen</span>
        </div>    
     

    </div>    

    <div class="learning">

        <div class="bg_Ellipse_content">


            <div class="continually-learning-content">   

                <div class="my-ability-introduction">
                <span [ngClass]="{'none': isEnglish}">
                I have worked on various projects using a variety of frontend technologies and concepts. I am always open to learning new technologies and methods in order to continually improve my skills
                and staying one step ahead in the ever-changing world of web development.
                </span>


                <span [ngClass]="{'none': !isEnglish}">
                    Ich habe an verschiedenen Projekten gearbeitet und dabei eine Vielzahl von Frontend-Technologien und -Konzepten eingesetzt. Dabei bin ich stets offen, neue Technologien und Methoden zu erlernen, um meine Fähigkeiten kontinuierlich zu verbessern
                     und in der sich ständig verändernden Welt der Webentwicklung immer einen Schritt voraus zu bleiben.
                </span>

                </div>        

              

        </div>

    </div>

    </div>
</div>


<div class="go-to-messenger">
    <a href="#contact" [ngClass]="{'none': isEnglish}"> Let`s talk </a>
    <a  href="#contact" [ngClass]="{'none': !isEnglish}"> Lass uns reden </a>
</div>

</section>
