<div class="project-container">

    <div class="project-presentation">
        <div class="join_presentation">
            <h3> {{ projects[0].name }} </h3>
            <span class="intro"> Technologien: {{ projects[0].technologies }} </span>
            <span class="intro"> Dauer: {{ projects[0].duration }} </span>

            <div class="project_img-content">
                <img class="project-img" [src]="projects[0].image" srcset="assets/img/join_project-small.png 300w, assets/img/join_project-medium.png 600w" sizes="(max-width: 600px) 300px, 600px" alt="">
            </div>       

            <div class="about-the-project">
                <div class="about-the-project-headline">
                    <img class="bullet-point-img" src="assets/img/Ellipse 8.png" alt="">
                    <h6> Über das Projekt </h6>
                </div>
                <span> {{ projects[0].description }} </span>
            </div>

            <div class="organised-my-work">
                <div class="organised-my-work-headline">
                    <img class="bullet-point-img" src="assets/img/Ellipse 8.png" alt="">
                    <h6> Wie ich meine Arbeit organisiert habe </h6>
                </div>
                <span> {{ projects[0].workOrganization }} </span>
            </div>

            <div class="my-group-work-experience">
                <div class="my-group-work-experience-headline">
                    <img class="bullet-point-img" src="assets/img/Ellipse 8.png" alt="">
                    <h6> {{ projects[0].experience }} </h6>
                </div>
                <span> {{ projects[0].groupExperience }} </span>
            </div>

            <div class="button-live-test">
                <button class="liveTestBtn">Live Test</button>
                <button class="gitHubBtn">GitHub</button>
            </div>
        </div>
    </div>
</div>
