<div class="menu-bar-desktop" [class.fixed]="isMenuBarFixed">

    <div class="menu">
    <img class="" src="assets/img/Logo dark mob.png" alt="">     
    

    <div  class="menu-bar-links">
        <a href="#">Why me </a>
        <a href="#">Skills </a>
        <a href="#">Prjects </a>
        <a href="#">Contact </a>

        <div class="translator fontJosefin">
        <p class="fontJosefin"> DE</p> 
        <p class="fontJosefin"> EN </p> 
        </div>

        
    </div>

    
    </div>
</div>
