<div class="menu-bar-desktop" [class.fixed]="isMenuBarFixed">

    <div class="menu">
    <img class="" src="assets/img/Logo dark mob.png" alt="">     
    

    <div  class="menu-bar-links">
        <a [ngClass]="{'hidden': isEnglish}" href="#">Why me </a>     
        <a [ngClass]="{'hidden': !isEnglish}"href="#">Warum ich </a>     

        <a [ngClass]="{'hidden': isEnglish}" href="#">Skills </a>
        <a [ngClass]="{'hidden': !isEnglish}"href="#">Fähigkeiten </a>

        <a [ngClass]="{'hidden': isEnglish}"href="#">Projects </a>
        <a [ngClass]="{'hidden': !isEnglish}"href="#">Projekte </a>

        <a [ngClass]="{'hidden': isEnglish}" href="#">Contact </a>
        <a [ngClass]="{'hidden': !isEnglish}"href="#">Kontakt </a>

        <div class="translator fontJosefin">
        <p class="fontJosefin" (click)="translateInEnglish()"> DE</p> 
        <p class="fontJosefin" (click)="translateInEnglish()"> EN </p> 
        </div>

        
    </div>

    
    </div>
</div>
