<div class="menu-bar-desktop" [class.fixed]="isMenuBarFixed">

    <div class="menu">
        <div class="logo-Content">
            <img class="logo"  src="assets/img/Logo dark mob.png" alt="">
            <span>P.Tesch</span>
            <span class="developer" [ngClass]="{'none': isEnglish}">DEVELOPER</span>
            <span class="developer" [ngClass]="{'none': !isEnglish}">ENTWICKLER</span>
            </div>
    

            <div [ngClass]="!isEnglish ? 'menu-bar-links-english' : 'menu-bar-links'">
                <a (click)="focusColor('why-me')" [ngClass]="{'focus': clicked === 'why-me'}" *ngIf="!isEnglish"  href="#why-me">Why me</a>     
                <a (click)="focusColor('why-me')" [ngClass]="{'focus': clicked === 'why-me'}" *ngIf="isEnglish"  href="#why-me">Warum ich</a>
              
                <a (click)="focusColor('skills')" [ngClass]="{'focus': clicked === 'skills'}" *ngIf="!isEnglish"  href="#skills">Skills</a>
                <a (click)="focusColor('skills')" [ngClass]="{'focus': clicked === 'skills'}"  *ngIf="isEnglish"  href="#skills">Fähigkeiten</a>
              
                <a (click)="focusColor('project')" [ngClass]="{'focus': clicked === 'project'}" *ngIf="!isEnglish"  href="#project">Projects</a>
                <a (click)="focusColor('project')" [ngClass]="{'focus': clicked === 'project'}" *ngIf="isEnglish"  href="#project">Projekte</a>
              
                <a (click)="focusColor('contact')" [ngClass]="{'focus': clicked === 'contact'}" *ngIf="!isEnglish" href="#contact">Contact</a>
                <a (click)="focusColor('contact')" [ngClass]="{'focus': clicked === 'contact'}" *ngIf="isEnglish"  href="#contact">Kontakt</a>
              
                <div class="translator fontJosefin">
                    <p [ngClass]="{'focus': isEnglish}" class="fontJosefin" (click)="translateInEnglish()"> DE</p> 
                    <p  [ngClass]="{'focus': !isEnglish}"class="fontJosefin" (click)="translateInEnglish()"> EN </p> 
                    </div>            
              </div>
              

    
    </div>
</div>
